
<div class="container px-4 text-center">
  <div class="row gx-5">
    <div class="col">
      <img src = {{results.images.md}} alt="Hero IMG"/>
    </div>
    <div class="col">
      <p>{{results.name}}</p>
      <p>Full name: {{results.biography.fullName}}</p>
      <p>Power stats: Int:{{results.powerstats.intelligence}} Str:{{results.powerstats.strength}} Spe:{{results.powerstats.speed}} Dur:{{results.powerstats.durability}} Pow:{{results.powerstats.power}} Com:{{results.powerstats.combat}}</p>
      <p>Publisher: {{results.biography.publisher}}</p>
      <p>Occupation: {{results.work.occupation}}</p>
      <p>Gender: {{results.appearance.gender}}/Race: {{results.appearance.race}}</p>
      <p>Weight: {{results.appearance.weight}}</p>
      <p>Height: {{results.appearance.height}}</p>
      <p>Eye Color: {{results.appearance.eyeColor}}</p>
      <p>Hair Color: {{results.appearance.hairColor}}</p>
    </div>
  </div>
</div>